button {
  width: 100%;
  height: 40px;
  background-color: var(--colorNegro);
  border: 1px solid var(--colorNegro);
  border-radius: 20px;
  padding: 0.5rem 1rem;

  font-family: var(--fontCuerpo);
  font-size: 1rem;
  font-weight: 400;
  color: var(--colorBlanco);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: var(--colorNegro);
  background-color: var(--colorBlanco);
}