button {
    height: 40px;
    background-color: var(--colorNegro);
    border-radius: 20px;
  
  
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fontCuerpo);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }