.cart_product-count {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn_count {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--colorNegro);
    border: 1px solid var(--colorNegro);

    color: var(--colorBlanco);
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.btn_radius-left {
    border-radius: 50% 0 0 50%;
}

.btn_radius-right {
    border-radius: 0 50% 50% 0;
}

.input_count {
    width: 2rem;
    height: 1.5rem;
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorNegro);

    display: flex;
    align-items: center;
    justify-content: center;
}
