.hero_container {
    width: 100%;
    background-color: var(--colorFrambruesaOscuro);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container-textbox {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.hero_container-img {
    width: 500px;
    height: 300px;
    background-color: var(--colorNegro);
}