.product_card{
    width: 300px;
    background-color: grey;
    border-radius: 20px;    
}

.product_card-img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.product_card-txt{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.product_cardName{
    font-family: var(--fontCuerpo);
    font-size: 1.5rem;
    font-weight: 600;   
}

.product_cardDescrip{
   font-family: var(--fontCuerpo);
    font-size: 1rem;
    font-weight: 300;   
}

.product_cardPromo{
    width: 64px;
    height: 32px;
    border-radius: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--fontCuerpo);
    font-size: 1rem;
    font-weight: 300;
    color: var(--colorBlanco);
    background-color: var(--colorNegro);
}

