.container_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_loading {
    background-color: var(--colorBlanco);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;
}


/* DETALLE PRODUCTOS */

.container_productDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.container_productDetail-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;

}

.productDetail_img {
    width: 40%;
    height: 400px;
    background-color: yellowgreen;
}

.container_productDetail-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}


 .productDetail-title{
    font-size: 2.5rem;
 }

 .productDetail-txt{
    font-size: 0.8rem;
 }

 .productDetail-price{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--colorVerde);
 }

 .productDetail-subtitle{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--colorGris);
 }

.container_productDetail-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;
}
.productDetail-btn{
    width: 100%;
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    padding: 1rem;
}

.container_productDetail-banner {
    background-color: var(--colorGrisClaro);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.banner_img {
    width: 3rem;
}