.container_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

.container_loading {
    background-color: var(--colorBlanco);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;
}



/*PÁGINA ADMIN*/
.container_admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.admin_nav {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid var(--colorNegro);
}

.admin_nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.admin_nav-links a,
.admin_nav-btn {
    height: 40px;
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorNegro);
    border-radius: 20px;
    font-family: var(--fontCuerpo);
    font-size: 1rem;
    font-weight: 300;
    color: var(--colorNegro);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
}

.admin_nav-links a:hover,
.admin_nav-btn:hover {
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
}

.admin-products {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 1rem;
}

.admin-products ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.admin-products li {
    width: 100%;
    background-color: var(--colorGrisClaro);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 6px 4px 4px 1px var(--sombraTarjetas);
}

.admin_products-left {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-products img {
    width: 100%;
    border-radius: 16px;
}

.admin_products-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.admin-products-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.admin-products-data span {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.admin-products-data h3 {
    font-size: 1rem;
    min-width: 80px;
    text-align: left;
}

.admin-products-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

/*PÁGINA LOGIN */
.login_main {
    width: 100%;
    height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("src/assets/fondologin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*PÁGINA CONTACTO */
.contacto_main {
    width: 100%;
    background-color: var(--colorBlanco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
}

/*PÁGINA NOSOTROS*/
.top_frase{
    width: 70%;
    padding: 4rem 0;
}

.us_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.us_section img{
    width: 500px;
    border-radius: 20px;
}

.us_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


/*PÁGINA NOT FOUND*/
.notfound_main {
    width: 100%;
    height: 100vh;
    background-color: var(--colorBlanco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.notfound_container {
    width: 60%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--colorNegro);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 6px 4px 4px 1px var(--sombraTarjetas);
}

.notfound_container-left {
    width: 40%;
    height: 100%;
    background-color: var(--colorNegro);
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    background-image: url("src/assets/notfoundimgfondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notfound_img {
    width: 100%;
}

.notfound_container-right {
    width: 60%;
    height: 100%;
    background-color: var(--colorGrisClaro);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.notfound_container-right-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}