.cart_overlay {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(05, 00, 02, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
}

.cart_container {
    position: fixed;
    top: 5.5rem;
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--colorBlanco);
    border-bottom: 1px solid var(--colorNegro);
    border-radius: 20px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
}

.cart_container.open {
    opacity: 1;
    transform: translateX(0%);
}

.cart_container-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 2rem;
}

.cart_product-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cart_empty-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.cart_product {
    background-color: var(--colorGrisClaro);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    padding-right: 1rem;
}

.cart_product-info {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 20% 20% 20% 10%;
    align-items: center;
}

.cart_img-box {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.cart_img {
    width: 100%;
}

.cart_product-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cart_product-total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.btn_product-delete,
.btn_cart-close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    color: var(--colorNegro);
    font-size: 1.25rem;
}

.btn_product-delete:hover,
.btn_cart-close:hover {
    color: var(--colorRojo);
}

.cart_total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--colorNegro);
}

.txt_strong {
    font-size: 1.5rem;
    font-weight: 600;
}

.cart_btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.cart_empty-messege {
    width: 100%;
    background-color: var(--colorGrisClaro);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 20px;
}


@media screen and (max-width: 992px) {

    .cart_product-info {
        grid-template-columns: 60% 40%;
        grid-template-rows: 80px 40px 32px;

    }

    .btn_product-delete {
        width: 24px;
    }

}

@media screen and (max-width: 660px) {

    .cart_btn-container {
        flex-direction: column;
    }

    .cart_product {
        flex-direction: column;
    }

    .cart_container-title h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 432px) {
    .cart_container-title h2 {
        font-size: 1.5rem;
    }
}