.product_counter {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.btn-counter {
    width: 40px;
    height: 40px;
    background-color: var(--colorGrisClaro);
    border: 1px solid var(--colorNegro);

    color: var(--colorNegro);
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.btn-radius-left {
    border-radius: 50% 0 0 50%;
}

.btn-radius-right {
    border-radius: 0 50% 50% 0;
}

.input_counter {
    width: 40px;
    height: 40px;
    background-color: var(--colorBlanco);
    border-top: 1px solid var(--colorNegro);
    border-bottom: 1px solid var(--colorNegro);

    display: flex;
    align-items: center;
    justify-content: center;
}

.mensaje_stock {
    width: 220px;

    background-color: var(--colorBlanco);
    border: 1px solid var(--colorNegro);
    border-radius: 8px;
    padding: 0.5rem;

    color: var(--colorRojo);

    position: absolute;
    left: 0;
    bottom: 45px;

    box-shadow: 6px 4px 4px 1px var(--sombraTarjetas);

}