.productDetail_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem 2rem;
}

.productDetail_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.productDetail_img-box {
    min-width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.productDetail_img-filter {
    width: 100%;
    height: 100%;
    background-color: var(--colorMora);
    opacity: 40%;
    position: absolute;
    z-index: 300;
}

.productDetail_img {
    width: 100%;
    filter: grayscale(100%);
}

.productDetail_container-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.productDetail-price {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--colorVerde);
}

.productDetail_container-right h3 {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--colorGris);
}

.productDetail_btns {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

.productDetail_notfound {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetail_notfound-box {
    width: 60%;
    padding: 2rem;
    background-color: var(--colorGrisClaro);
    border: 1px solid var(--colorNegro);
    border-radius: 20px;
    box-shadow: 6px 4px 4px 1px var(--sombraTarjetas);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.productDetail_notfound-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.productDetail_notfound-title h2 {
    color: var(--colorRojo);
}

.productDetail_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.productDetail_data-box {
    width: 50%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--colorNegro);
    border-radius: 20px;
}

.productDetail_data-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
}

.icon-big {
    font-size: 1.5rem;
}