.form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(05, 00, 02, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form_container {
    width: 95%;
    height: 85%;

    background-color: var(--colorBlanco);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.form_overflow {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    gap: 2rem;
}

.form_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_header-mensaje {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--colorNegro);
}

.from_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.form_line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 0.5rem;
}

.mensajeError {
    width: 100%;
    height: 1rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mensajeError span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--colorRojo);
    font-size: 0.8rem;
}

.mensajeError p {
    font-family: var(--fontCuerpo);
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--colorRojo);
}

/* FORMULARIO LOGIN*/
.login_container {
    background-color: var(--colorGrisClaro);
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 1px solid var(--colorNegro);
    border-radius: 20px;
    box-shadow: 6px 4px 4px 1px var(--sombraTarjetas);
    position: relative;
    gap: 1rem;
}

.icon_back {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: var(--colorNegro);
    font-size: 1rem;
}

.login_form-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

/* FORMULARIO CONTACTO*/

.contacto_container {
    width: 80%;
    height: 80vh;
    background-color: var(--colorGrisClaro);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorNegro);
    border-radius: 20px;
    box-shadow: 6px 4px 4px 1px var(--sombraTarjetas);
    overflow: hidden;
}

.contacto_container-left {
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    background-image: url("https://i.postimg.cc/sgQSB8jn/bgcontact.png");
    background-color: var(--colorMandarina);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto_img {
    width: 100%;
}

.contacto_container-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.form_header-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}


/* RESPONSIVE */

@media screen and (max-width: 1024px) {

    .contacto_container {
        height: auto;
        flex-direction: column;
    }

    .contacto_container-left {
        width: 100%;
        height: auto;
    }

    .contacto_img {
        width: 50%;
    }

    .contacto_container-right {
        width: 100%;
    }

}

@media screen and (max-width: 824px) {

    .from_box {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .contacto_container {
        width: 90%;
    }

    .contacto_container h2 {
        font-size: 1.5rem;

    }

    .contacto_container-right {
        padding: 1rem;
    }

}

