footer {
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    font-family: var(--fontCuerpo);
    font-size: 1rem;
    font-weight: 300;
}

p {
    font-size: 0.8rem;
    font-weight: 300;
}