/*Estilo general de textos*/
/*H1 es título de la página*/
h1 {
  font-family: var(--fontTitulos);
  font-size: 3rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: center;
}

/*H2 es para encabezados de secciones*/
h2{
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: center;
}

/*H3 es para nombres de productos*/
h3{
  font-family: var(--fontTitulos);
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: center;
}

p{
  font-family: var(--fontCuerpo);
  font-size: 1rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: left;
}

/*Estilo general de links a*/

a{
  font-family: var(--fontCuerpo);
  font-size: 1rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-decoration: none;
}

ul {
  list-style: none;
}





