/*Estilo general de textos*/
/*H1 es título de la página*/
h1 {
  font-family: var(--fontTitulos);
  font-size: 3rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: center;
}

/*H2 es para encabezados de secciones*/
h2{
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: center;
}

/*H3 es para nombres de productos*/
h3{
  font-family: var(--fontTitulos);
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: center;
}

p{
  font-family: var(--fontCuerpo);
  font-size: 1rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-align: left;
}

/*Estilo general de links a*/

a{
  font-family: var(--fontCuerpo);
  font-size: 1rem;
  font-weight: 300;
  color: var(--colorNegro);
  text-decoration: none;
}

ul {
  list-style: none;
}



form{
  background-color: var(--colorBlanco);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--colorNegro);
  border-radius: 20px;
  margin: 2rem;
}

input{
  width: 100%;
}


footer {
  width: 100%;
  background-color: var(--colorGrisClaro);
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 2px solid var(--colorNegro);
}