/*VARIABLES*/

:root {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;

  color: #050002;
  background-color: #f8f2f4;

  --fontTitulos: "Dosis", sans-serif;
  --fontCuerpo: "Roboto Flex", sans-serif;

  --colorNegro: #050002;
  --colorGris: #373335;
  --colorBlanco: #F8F2F4;

  --colorMoraOscuro: #560422;
  --colorMora: #6B052A;
  --colorMoraClaro: #893755;

  --colorFrambruesaOscuro: #9E0018;
  --colorFrambruesa: #C5001E;
  --colorFrambruesaClaro: #D1334B;

  --colorSalmonOscuro: #B6422A;
  --colorSalmon: #E35335;
  --colorSalmonClaro: #E9755D;

  --colorNaranjaOscuro: #CA6A01;
  --colorNaranja: #FC8401;
  --colorNaranjaClaro: #FD9D34;

  --colorExito: #009B83;
  --colorError: #FF000D;
  --colorAdvertencia: #FFCF11;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}