/*VARIABLES*/

:root {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;

  color: #050002;
  background-color: #f8f2f4;

  --fontTitulos: "Dosis", sans-serif;
  --fontCuerpo: "Roboto Flex", sans-serif;

  --colorNegro: #050002;
  --colorGris: #373335;
  --colorGrisClaro: #E6E5E6;
  --colorBlanco: #F8F2F4;
  --sombraTarjetas: rgba(37, 33, 35, 0.2);

  --colorMora: #6B052A;
  --colorFrambuesa: #C5001E;
  --colorMandarina: #F35D25;
  --colorNaranja: #FA7818;

  --colorVerde: #009B83;
  --colorRojo: #FF000D;
  --colorAmarillo: #FFCF11;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --toastify-color-light: var(--colorGrisClaro);
  --toastify-color-info: var(--colorNegro);
  --toastify-color-success: var(--colorVerde);
  --toastify-color-warning: var(--colorAmarillo);
  --toastify-color-error: var(--colorRojo);
  --toastify-toast-shadow: 6px 4px 4px 1px var(--sombraTarjetas);
  --toastify-font-family: var(--fontCuerpo);
  --toastify-text-color-light: var(--colorGris);
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}